@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.block {
    width: 50%;
    height: 100px;
    background-color: #3498db;
    margin: 10px;
    /* display: inline-block; */
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}